div {
    max-width: 100%;
}

body {
    background-image: url("../images/nathan-dumlao-KMEqlxz3mKc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    max-width: 100vw;
    background-attachment: fixed;
}

/* Logo & Nav */
#logo-img img {
    width: 30%;
    border-radius: 20%;
    border: 8px solid rgb(215, 194, 213);
    padding: 0;
}

.nav-links-container {
    border: 3px solid rgb(152, 186, 185);
    border-radius: 10px;
    max-width: 400px;
    background-color: rgb(215, 194, 213);

}

.nav-links-container a {
    text-decoration: none; 
    color: rgb(97, 117, 117);
    background-color: white;
}


.current-page {
    font-weight: 800;
}

.first-nav-item {
    border-radius: 7px 0 0 7px !important;
}

.last-nav-item {
    border-radius: 0 7px 7px 0 !important;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: sticky;
    bottom: 0;

}

.list-group-item {
    border: 0;
    padding: 10px 20px;

}

.list-group-item > * {
    color: rgb(80, 80, 80);

}

.text-box {
    border: 3px solid rgb(152, 186, 185);
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1250px;
    padding: 10px;

}

h1 {
    color: rgb(152, 186, 185);
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

/* Homepage Gallery */
.standard-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
} 
#page-content {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.page-content-higher {
    border: 3px solid orangered;
    transform: translate(0, -600px);
    transition-timing-function: ease-in-out;
    
}

/* Modals */
.modal-image {
    max-width: 100%;
    border-radius: 2px;

}

.modal-content p {
    padding: 0 20px;
    border: 0;
}

.dietary-requirements {
    list-style-type: none;
}

.dietary-requirements li i {
    padding: 0 5px 0 0;
}

.modal-close-button {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px 15px 0;
}

.modal-lower-content {
    display: flex;
    justify-content: space-between;
}

.modal-content, .modal-header, .modal-title {
    border: none;
}


