
/* Logo & Nav */
.fa-cake-candles {
    font-size: 400px;
}

.nav-links-container {
    border: 3px solid #808080;
}

.nav-links-container a {
    text-decoration: none;
    
}

/* Homepage Gallery */

.standard-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}